.header {
    max-width: 1280px;
    max-height: 74px;
    margin: 0px;
    padding: 18px 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.header_main {
    background-color: #073042;
}

.header__logo {
    width: 38px;
    height: 38px;
    background-image: url(../../images/Logo.svg);
    margin: 0;
}

.header__button {
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
    background: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    color: white;
}

.header__button_register {
    margin: 0px 30px 0px auto;
    max-width: 77px;
}

.header__button_login {
    width: 76px;
    height: 32px;
    color: black;
    background-color: #3DDC84;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__button_movies {
    margin: 0px 20px 0px auto;
    font-size: 14px;
    line-height: 18px;
}

.header__button_saved-movies {
    margin: 0px 50px 0px 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.header__button_profile {
    width: 100px;
    height: 32px;
    background-color: #313131;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.header__menu-bar-button {
    display: none;
    width: 44px;
    height: 44px;
    margin: 0px 0px 0px auto;
    padding: 0px;
    border: none;
    background-color: #202020;
    background-image: url(../../images/HeaderMenuBar.svg);
    cursor: pointer;
}

.header__menu-bar-button_active {
    background-color: #073042;
}

.header__menu-bar {
    max-width: 520px;
    max-height: 1024px;
    display: none;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 0px;
    right: 0px;
}

.header__menu-bar-button-close {
    width: 22px;
    height: 22px;
    border: none;
    background-color: #313131;
    background-image: url(../../images/HeaderCross.svg);
    background-position: center;
    background-repeat: none;
}

@media screen and (max-width:1023px) {
    .header {
        padding: 18px 50px;
    }

    .header__menu-bar-button {
        display: block;
    }

    .header__button_movies {
        display: none;
    }
    
    .header__button_saved-movies {
        display: none;
    }
    
    .header__button_profile {
        display: none;
    }
}

@media screen and (max-width:767px) {
    .header {
        padding: 18px 14px;
    }

    .header__button {
        font-size: 10px;

    }

    .header__button_register {
        margin: 0px 14px 0px auto;
    }

    .header__button_login {
        width: 54px;
        height: 26px;
    }
}
